*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'sans-serif';
    box-sizing: border-box;
}
body{
    background: #09090B;

}
.app{
    background: #fff;
    width: 90%;
    max-width: 600px;
    margin: 100px auto 0;
    border-radius: 10px;
    padding: 30px;
}
.app h1{
    font-size: 25px;
    color: #001e4d;
    font-weight: 600;
    border-bottom: 1px solid #333;
    padding-bottom: 30px ;
}
.quiz h2{
    font-size: 18px;
    color:#001e4d;
    font-weight: 600px;
}
#timer {
    font-size: 24px;
    margin-bottom: 10px;
  }
.btn{
    background: #fff;
    color: #222;
    font-weight: 500;
    width: 100%;
    border: 1px solid #222;
    padding: 10px;
    margin: 10px 0;
    text-align: left;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.3s;
}
.btn:hover:not([disabled]){
    background: #d47902;
    color: #fff;
}
.btn:disabled{
    cursor: no-drop ;
}
#next-btn{
    background: #d47902;
    color: #fff;
    font-weight: 500;
    width: 150px;
    border: 0;
    padding: 10px;
    margin: 20px auto 0;
    border-radius: 4px;
    cursor: pointer;
    display: none;
}
.correct{
    background: #9aeabc;
}
.incorrect{
    background: #ff9393;
}
